<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="JRoland.MagicWords.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Serialcoder.MagicWords.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SampleNotifyIconApplication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="JRoland.MagicWords.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Serialcoder.MagicWords.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <JRoland.MagicWords.Properties.Settings>
            <setting name="Position" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Size" serializeAs="String">
                <value>150, 20</value>
            </setting>
            <setting name="Backcolor" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="ForeColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="TypeWordHotKey" serializeAs="String">
                <value>CtrlF12</value>
            </setting>
            <setting name="AddWordHotKey" serializeAs="String">
                <value>CtrlF11</value>
            </setting>
            <setting name="RunAtWindowsStart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LiberkeyPath" serializeAs="String">
                <value />
            </setting>
        </JRoland.MagicWords.Properties.Settings>
        <Serialcoder.MagicWords.Properties.Settings>
            <setting name="Position" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Size" serializeAs="String">
                <value>150, 20</value>
            </setting>
            <setting name="Backcolor" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="ForeColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="TypeWordHotKey" serializeAs="String">
                <value>CtrlF12</value>
            </setting>
            <setting name="AddWordHotKey" serializeAs="String">
                <value>CtrlF11</value>
            </setting>
            <setting name="RunAtWindowsStart" serializeAs="String">
                <value>True</value>
            </setting>
        </Serialcoder.MagicWords.Properties.Settings>
        <SampleNotifyIconApplication.Properties.Settings>
            <setting name="Position" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Size" serializeAs="String">
                <value>150, 20</value>
            </setting>
            <setting name="Backcolor" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="ForeColor" serializeAs="String">
                <value>White</value>
            </setting>
        </SampleNotifyIconApplication.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <JRoland.MagicWords.Properties.Settings>
            <setting name="HelpUrl" serializeAs="String">
                <value>http://code.google.com/p/magicwords/wiki/Help</value>
            </setting>
            <setting name="HomepageUrl" serializeAs="String">
                <value>http://code.google.com/p/magicwords</value>
            </setting>
        </JRoland.MagicWords.Properties.Settings>
        <Serialcoder.MagicWords.Properties.Settings>
            <setting name="HelpUrl" serializeAs="String">
                <value>http://code.google.com/p/magicwords/wiki/Help</value>
            </setting>
            <setting name="HomepageUrl" serializeAs="String">
                <value>http://code.google.com/p/magicwords</value>
            </setting>
        </Serialcoder.MagicWords.Properties.Settings>
    </applicationSettings>
</configuration>